@import '../../global/styles.scss';

.projects {
  margin-bottom: 40px;
  margin-right: 10px;

  .project {
    border-radius: 20px;
    height: 150px;
    width: 260px;
  }

  .projectTitle {
    font-size: 20px;
    color: var(--text-color);
    font-family: var(--font);
    font-weight: 300;
    text-decoration: none;
  }
}
