@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;300;400;500&display=swap');

:root {
  --title-color: #ff7a21;
  --text-color: #ffffff;
  --background: #0d1117;
  --menu-color: #1a1a1a;
  --menu-border: #ff7a2169;

  --font: 'Encode Sans', sans-serif;
}

::selection {
  background: var(--title-color);
}
