@import '../../../global/styles.scss';

.container {
  max-width: 100vw;
  min-height: 100vh;
  height: auto;

  .body {
    gap: 3.125rem;
    max-width: 50vw;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
}
